webplatformstrategy*
\.DS_Store

utilities/css-regions-support-matrix/build.properties

utilities/css-regions-support-matrix/assets/css/.sass-cache/3b9204570226bf46646b74a5dbb3835d1ce8d755/_all.scssc

utilities/css-regions-support-matrix/assets/css/.sass-cache/3b9204570226bf46646b74a5dbb3835d1ce8d755/results.scssc
