
section ul strong, h2 strong {
    color: red;
}

section ul {
	line-height: 1em;
}

section li {
	margin-bottom: 20px;
}

section#end img {
border:none;
position:fixed;
background:none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;

-webkit-transition: 0;
-moz-transition: 0;
-ms-transition: 0;
-o-transition: 0;
transition: 0;
}

section#end img#html5 {
    left:-80px;
    top:-40px;
}

section#end img#css3 {
    left:650px;
    top:-30px;
}

section#end img#whatwg {
    left:650px;
    top:350px;
}

section#end img#w3c {
    left:-80px;
    top:400px;
}

section#end img#adobe {
    width:150px;
    left:375px;
    top:250px;
}

li ul li .samesizesub {
    font-size: 150%;
}

#focus {
    font-size: 90%;
}
#focus hr {
    margin-left: -30px;
}

#WEFstrategy {
    font-size: 90%;
}

li ol li, li ul li {
    font-size: 60%;
    margin-bottom: 0px;
    margin-left: 20px;
    line-height: 1.3em;
}

section .chartTitle {
    width: 302px;
    font-size: 16px;
}

section .note, #reveal .slides section note .roll {
	font-size: 14px;
	line-height: 14px;
}

#events {
    position: absolute;
    top: 80px;
}

#blog {
    position: absolute;
    top: 490px;
}

#presence {
    position: absolute;
    left: 500px;
    top: 80px;
}

#standards {
    position: absolute;
    top: 285px;
}

#webkit {
    position: absolute;
    left: 500px;
    top: 285px;
}

#wef {
    position: absolute;
    left: 500px;
    top: 490px;
}

section .console, .consoleLarge, .editor, .editorSmall{
	position: absolute;
	background-color: black;
	border-radius: 10px;
	float: left;
}

section .editorSmall {
	left: 5%;
	width: 90%;
	height: 100px;
}

section .editor {
	left: 5%;
	width: 90%;
	height: 200px; 
}

section .console {
	left: 15%; 
	width: 80%;
	height: 150px; 
}

section .consoleLarge {
	width: 100%;
	height: 250px; 
}

section .bottomNote {
	position: absolute;
	top: 600px;
	left: 30%;
}

section .bottomNote2 {
	position: absolute;
	top: 390px;
	left: 30%;
	line-height: 18px;
}

section .bottomEditorNote{
	position: absolute;
	top: 500px;
	left: 15%;
	line-height: 18px;	
}

section .noteText {
	font-size: 18px;
}

section .errorText {
	font-family: Courier;
	font-size: 12pt;
	color: #00FF33;
}

section .consoleText, .editorText, .dosText {
	height: 150px;
	padding-top: 20px;
	font-family: Courier;
	text-align: left;
	font-size: 12pt;
	line-height: 10pt;
}

section .consoleText {
	padding-left: 30px;
	color: #00FF33;
}

section .dosText {
	padding-left: 30px;
	color: #FFFFFF;
}

section .editorText {
	padding-left: 10px;
	left: 10%;
}

section .highlight {
	border-style: solid; 
	border-width: 1px; 
	border-color: blue;
}

section .editorHtml {
	color: #B7CEEC;
}

section .editorAttrVal {
	color: #5FFB17;
}

section .editorHtmlTxt {
	color: #FFFFFF;
}

section .editorReserveWord {
	color: #4169E1;
}

section .creditPage {
	position: absolute;
	top: 99%;
	left: 35%;
	font-size: 6pt;
	font-color: gray;
}

section .localPath {
	font-style: italic;
	color: #87CEFA;
}


section .font1 { font-size: 32pt; font-weight: bold; }
section .font2 { font-size: 24pt; }
section .font2 { font-size: 18pt; }

section .tab1 { margin-left: 10px; }
section .tab2 { margin-left: 40px; }
section .tab3 { margin-left: 70px; }
section .tab4 { margin-left: 100px; }
section .tab5 { margin-left: 350px; }

/*MINIMAL STYLE*/
table.minimal-style { margin-left:auto; margin-right:auto; border-collapse: collapse; font-size: 16px; text-align: left; min-width: 1000px; margin-bottom:25px; line-height: 1.2em;}
table.minimal-style th { border-bottom: 2px solid #ffffff; color: #ffffff; font-size: 18px; font-weight: normal; padding: 5px; }
table.minimal-style td { border-bottom: 1px solid #CCCCCC; color: #999; padding: 4px 6px; }
table.minimal-style tbody tr:hover td {color:#ffffff;}
