li ol li, li ul li {
    font-size: 60%;
    margin-bottom: 0px;
    margin-left: 20px;
    line-height: 1.3em;
}

section .console, .consoleLarge, .editor, .editorSmall{
	position: absolute;
	background-color: black;
	border-radius: 10px;
	float: left;
}

section .editorSmall {
	left: 20%;
	width: 60%;
	height: 100px;
}

section .editor {
	left: 5%;
	width: 90%;
	height: 200px; 
}

section .console {
	left: 10%; 
	width: 80%;
	height: 150px; 
}

section .consoleLarge {
	width: 100%;
	height: 250px; 
}

section .bottomNote {
	position: absolute;
	top: 600px;
	left: 25%;
}

section .bottomNote2 {
	position: absolute;
	top: 390px;
	left: 25%;
	line-height: 18px;
}

section .bottomNote3 {
	position: absolute;
	top: 600px;
	left: 20%;
}

section .bottomEditorNote{
	position: absolute;
	top: 500px;
	left: 10%;
	line-height: 18px;	
}

section .noteText {
	font-size: 18px;
}

section .errorText {
	font-family: Courier;
	font-size: 12pt;
	color: #00FF33;
}

section .consoleText, .editorText, .dosText {
	height: 150px;
	padding-top: 20px;
	font-family: Courier;
	text-align: left;
	font-size: 12pt;
	line-height: 10pt;
}

section .consoleText {
	padding-left: 30px;
	color: #00FF33;
}

section .dosText {
	padding-left: 30px;
	color: #FFFFFF;
}

section .editorText {
	padding-left: 10px;
	left: 10%;
}

section .highlight {
	border-style: solid; 
	border-width: 1px; 
	border-color: blue;
}

section .editorHtml {
	color: #B7CEEC;
}

section .editorAttrVal {
	color: #5FFB17;
}

section .editorHtmlTxt {
	color: #FFFFFF;
}

section .editorReserveWord {
	color: #4169E1;
}

section .creditPage {
	position: absolute;
	top: 99%;
	left: 35%;
	font-size: 6pt;
	font-color: gray;
}

section .localPath {
	font-style: italic;
	color: #87CEFA;
}

tt {
    font-family: monospace;
}


section .font1 { font-size: 32pt; font-weight: bold; }
section .font2 { font-size: 24pt; }
section .font3 { font-size: 18pt; }
section .font4 { font-size: 16pt; }
section .font5 { font-size: 14pt; }

section .tab1 { margin-left: 10px; }
section .tab2 { margin-left: 40px; }
section .tab3 { margin-left: 70px; }
section .tab4 { margin-left: 100px; }
section .tab5 { margin-left: 350px; }